[Unit]
Description=Lightweight self-hosted serverless-functions engine

[Service]
ExecStart=/usr/local/bin/trusted-cgi
EnvironmentFile=/etc/trusted-cgi/trusted-cgi.env
Restart=always
RestartSec=3
WorkingDirectory=/var/trusted-cgi

[Install]
WantedBy=multi-user.target
